[Unit]
Description=Odoo Open Source ERP and CRM
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
PermissionsStartOnly=true
SyslogIdentifier=odoo-server
User=odoo
Group=odoo
ExecStart=/home/odoo-13.0/odoo/odoo-bin --config=/home/odoo-13.0/odoo-server.conf
WorkingDirectory=/home/odoo-13.0/odoo/
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target